/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');



/*global css*/
header{
	width: 100%;
	position: fixed;
  background:  rgba(0,0,0,0.4)!important;
  z-index: 9999;
}

body,h1,h2,h3,h4,h5,h6,p,span,button,input{
	font-family: 'Poppins', sans-serif;
}
ul {
	text-decoration: none;
}
li{
	list-style:none;
}

.nav-link{
	color: #ffffff !important;
	font-size: 18px;
	font-weight: 500;
}


.nav-item{
	margin-left: 60px !important;
}

.banner{ 
	height: 100vh;
	background: #fcc302;
	
}

.left-side{
	height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.left-side h1{
	color: white;
	font-weight: 800;
	font-size: 48px;
}

.left-side p{
  color: white;
	font-weight: 400;
	font-size: 14px;
}

.left-side button {
    margin-right: 20px;
    background: transparent;
    border: none;
    border: 1px solid white;
    color: white;
    padding: 12px 13px;
    border-radius: 5px;
}

.banner .col-md-4{
	padding: 100px 0;
}


/* Service */
.service{
  background: #ffff fixed no-repeat 50% 50%;
  background-size: cover;
}

#seccion1{
  background-image: url('../imagenes/banner1.jpg');
  background-size: cover;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  text-align: center;
}

.service input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.btn{
  background-color: #2c3e50;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
          flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  margin: 80px;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
   justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}


.telefono{
 display: flex;
 justify-content: center;
}
.telefono .container{
  text-align: center;
  font-size: 40px;
  color:#2c3e50 ;
  font-weight: 600;
  margin-block-end: 40px;
}
.telefono i {
  margin: 20px;
}
/* Trabajo */
.trabajo{
  background: #ffff fixed no-repeat 50% 50%;
  background-size: cover;
}

#seccion2{
  background-image: url('../imagenes/fondo4.jpg');
  background-size: cover;
}
 .trabajo .title{
	font-weight: 800;
	font-size: 38px;
}

.trabajo .text-2{
  font-weight: 800;
	font-size: 18px;
}

.trabajo .text-3{
  margin-block-end: 30px;
}

/* Cita */

.cita{
  background: #ffff fixed no-repeat 50% 50%;
  background-size: cover;
}

#seccion3{
  background-image: url('../imagenes/fondo3.jpg');
  background-size: cover;
}
.cita .text {
  line-height: 2.2;
  margin: 40px;
}
 .cita .card{
  border-radius: 50px;
}

/* Contacto */

.contact {
  background-image:url('../imagenes/fondo5.jpg');
  background-repeat: no-repeat;
  background-size:cover;

}
.contact li{
  color: #ffffff;
  font-size: 32px;
}
.contact li a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.contact li a:hover{
  color:grey;
  font-size: 20px;
  text-decoration: none;
}

.contact .card{
  border-radius: 40px;
}
.contact .container{
  padding: 70px;
}
/* Trabajo */

.banner-trab{
  padding-block-start:90px;
  background-color: #5e9daf;
}
.square {
  position: relative;
  width: 380px;
  height: 390px;
  top: 260px;
  left:20;
  background-color:gray;  
}
.image-dog{
  top:50px;
  left:-30px ;
  position: absolute;
}

.search{
  padding-block-start: 80px;
  height: 70vh;
  background-color: #5e9daf;
}
.search .div{
   margin:50px;
}

.title1{
  font-size: 50px;
  color: white;
  font-weight: 700;
}
.text1{
  text-align: center;
  color: white;
  line-height: 30px;
  padding: 50px;
}
/* Trabajo profesiones */

.profesiones{
  background:#f5f6f1;
}
  .lista{
    justify-content: center;
}
.lista ol{
    list-style: none;
    counter-reset: my-counter;
    margin: 0rem;
    padding:  0rem 0rem 0rem 1.5rem;
}
.lista li{
    counter-increment: my-counter;
    border-left: solid 2px #cdcdcd;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "icon:text";
    align-items: start;
}
.lista li:before {
    content: counter(my-counter);
    font-weight: bold;
    background-color: #cdcdcd;
    border: 3px solid #f5f6f1;
    border-radius: 50px;
    font-size: 20px;
    padding: 0.8rem 1.4rem;
    color: #fff;
    margin-left: -2.0rem;
    margin-right: auto;
    grid-area: icon;
}
.card{
    grid-area: text;
    margin-left: 4rem;
    border-radius: 0px;
    box-shadow: 0 0 5px 1px #ddd;
    margin-top: 0.5rem;
}
.card .card-header{
  color: #fff;
  font-size: 22px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.card-td .card-header:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #8b92bd;;
    border-width: 10px;
    top: 10px;
}


.card-t .card-header:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #7952b3;
    border-width: 10px;
    top: 10px;
}

.card-t .card-header{
    background-color: #7952b3;
    border-color: #7952b3;
}
.card-td .card-header{
    background-color: #8b92bd;
    border-color: #8b92bd;
}
 
/* formulario */
.formulary{
  background-color: #5e9daf;
}
.formulary .container{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.input-group input{
   width: auto;
}
.img-cat{
   width:500px;
  position: absolute;
  top:-750px;
  left:710px ;
}
/* Servicios */
.banner3{
  height:90vh;
  background-image: url('../imagenes/PORTADA-PERRO.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.banner3 .container-3{
  display: flex;
  justify-content: end;
  padding: 82px;
}
.title-3 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 50px;
}
.container-text{
  padding: 70px;
}
.container-text h2{
  margin:30px;
}
.covid{
  height: 400px;
}
.container-service .covid{
  float: left;
}

.footer-copyright {
  color:#fff;
  background-color: #282828;
}